<header>
  <div class="container">
    <h1 class="logo" data-i18n="hero_title">RENATO VELUDO</h1>

    <nav>
      <button id="menu-toggle" aria-label="Abrir menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>

      <ul id="menu" class="menu">
        <li><a href="#about" data-i18n="about_title">Sobre Mim</a></li>
        <li><a href="#technology" data-i18n="tech_title">Tecnologias</a></li>
        <li><a href="#project" data-i18n="projects_title">Projetos</a></li>
        <li><a href="#contact" data-i18n="contact_title">Contato</a></li>
      </ul>

      <div class="lang-switcher">
        <button class="lang-btn active"  onclick="setLanguage('pt')">PT</button>
        <button class="lang-btn" onclick="setLanguage('en')">EN</button>
      </div>
    </nav>
  </div>
</header>
